# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

bin
build
.vscode
example/incremental/incremental
example/optimizer/optimizer
example/simple/simple
example/sizer/sizer
example/unit/unit
unittest/utility
unittest/path
ot/config.hpp